<!DOCTYPE html>
<html>
<head>
    <title>Hack</title>
    <link rel="stylesheet" href="../static/css/reg.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Jaro:opsz@6..72&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
</head>
<body>
    <div class="Users">
        <div class = "user-left">
            <div class="register-div">
                <h1>Register here 👇</h1>
                <form action="/merchant_register" method="post" onsubmit="alert('Registered Successfully!')">
                    <input type="text" placeholder="Enter merchant name" required name="mer_name">
                    <input type="email" placeholder="Enter merchant email" required name="mer_email">
                    <input type="text" placeholder="Enter password" required name="pwd">
                    <input type="number" placeholder="Enter merchant tax rate" required name="tax_rate">
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
        <div class="user-right">
            <div class = "login-div">
                <div>{{login_error}}</div>
                <h1>Login here 👇</h1>
                <form action="/merchant_login" method="post" onsubmit="alert('Login Successful!')">
                    <input type="email" placeholder="Enter merchant email" required name="mer_email">
                    <input type="text" placeholder="Enter password" required name="pwd">
                    <button type="submit">Login</button>
                </form> 
            </div>
        </div>
    </div>
</body>
</html>
