<!DOCTYPE html>
<html>
<head>
    <title>Hack</title>
    <link rel="stylesheet" href="../static/css/reg.css">
</head>
<body>
    <div class="Users">
        <div class = "user-left">
            <div class="register-div">
                <h1>Register here 👇</h1>
                <form action="" method="post" onsubmit="alert(registered)">
                    <input type="text" placeholder="Enter user name" required name = "u_name">
                    <input type="email" placeholder="Enter user email" required name = "u_email">
                    <input type="text" placeholder="Enter password" required name = "u_pwd">
                    <input type="number" placeholder="Enter phone number" required name = "phone">
                    <input type="text" placeholder="Enter address" required name = "u_address">
                    <input type="number" placeholder="Enter credit limit" required name = "credit">
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
        <div class="user-right">
            <div class = "login-div">
                <h1>Login here 👇</h1>
                <form action="" method="post" onsubmit="alert(loginsuccessfully)">
                    <input type="email" placeholder="Enter user email" required name = "user_email">
                    <input type="text" placeholder="Enter password" required name = "pwd">
                    <button type="submit">Login</button>
                </form> 
            </div>
        </div>
    </div>
</body>
</html>